.textArea {
    width: 100%;
    font-size: 21px;
    border: 0;
    padding: 15px;
    resize: none;
    outline: 0;
    min-height: 200px;
    border-radius: 10px;
    border: 3px solid transparent;
}

.onDrag {
    border: 3px dashed #09f;

}

.buttonDevitear {
    align-items: center;
    background: #000000;
    border-radius: 9999px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 800;
    padding: 8px 24px;
    transition: opacity .3s ease
}

.buttonDevitear[disabled] {
    pointer-events: none;
    opacity: .2;
}

.divButtonDevitear {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    border-top: #8d8d8d solid thin;
    margin-top: 5px;
}

.form {
    margin: 10px 10px 10px 0px;
    width: 100%;
}

.img {
    width: 100%;
    height: 25vh;
    border-radius: 10px;
}

.sectionRemoveImage {
    z-index: 0;
    position: relative;
}

.buttonDeleteFile {
    position: absolute;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    border-radius: 9999px;
    width: 32px;
    height: 32px;
    right: 15px;
    top: 15px;
}

.sectionForm {
    display: flex;
    align-items: flex-start;
    flex: 1;

}

.sectionAvatar {
    padding-top: 20px;
    padding-left: 10px
}

.sectionImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.sectionOneImage img {
    height: auto;
}

.divProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    border-radius: 10px;
}

.labelFiles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
}